.building {
    cursor: pointer;
    z-index: 1;
    transition: transform 0.1s ease-in-out;
}

.building-detail {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    max-width: 200px;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px;
}

.building-detail>img {
    z-index: 1;
}


.building-name {
    font-size: 22pt;
    font-weight: 600;
    color: black;
    text-align: center;
    z-index: 2;
}

.button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 4px;
}

.button-wrap>button {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    background-color: var(--Color-2, #9E1815);
    color: white;
    font-size: 8pt;
    font-weight: 400;
    border: none;
    cursor: pointer;
}