.building-detail
{
    position: absolute;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    z-index: 1;
    background-color: black;
    max-width: 200px;
}

.building-detail>img
{
    width: 100%;
}

.info-wrap
{
    box-sizing: border-box;
    display: grid;
    flex-grow: 1;
    width: 100%;
    grid-template-columns: minmax(100px, 200px) max-content;
    grid-template-rows: auto auto;
}

.info-wrap:nth-child(0)
{
    grid-row: 1;
    grid-column: 1;
}

.button-wrap
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    gap: 8px;
    grid-column: 2;
    grid-row: 1;
}