.search-form {
    margin-top: 15px;
    margin-left: 30px;
}

.search-container {
    position: relative;
    width: 320px;
    opacity: 0.9;
}

.search-input {
    color: black;
    padding-left: 40px;
    margin: 0 auto;
    display: flex;
    width: 750px;
    height: 35px;
    background: #FFFFFF;
    border: 2px solid #ffffff;
    border-radius: 24px;
    box-shadow: 0px 2px 10px 1px #747474
        /*border 그림자 효과*/
}

.search-button {
    position: absolute;
    left: 730px;
    top: 55%;
    transform: translateY(-50%);
    /* 버튼을 정중앙에 배치 */
    border: none;
    background: none;
    cursor: pointer;
}